nav {
    background-color: #26a69a;
}

main .container .row {
    margin-top: 20px;
}

#tablePreview th {
    text-align: center;
}

#tablePreview td {
    text-align: center;
}

#tableResult {
    overflow: scroll;
    overflow-x: hidden; 
}

#tableResult th {
    text-align: center;
}

#tableResult td {
    text-align: left;
}

.container-table {
    margin-left: 10px; 
    margin-right: 10px; 
    overflow: overlay; 
    max-height: 635px;
}